* {
    box-sizing: border-box;
}

body {
	background-color: #FAFAFA;
	font-family: verdana, sans-serif;
}

main {
	width: 95vw;
    border: 3px solid black;
    padding: 10px;
}

.grid_container {
    display: grid;
    border: 1px solid black;
    width: 90vw;
    height: 80vh;
    grid-template-columns: 200px auto 10%;
    grid-template-rows: 200px auto;
    grid-auto-columns: 10%;
}

.item1 {
    background-color: #FFAAAA;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.item2 {
    background-color: #AAFFAA;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.item3 {
    background-color: #AAAAFF;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.item4 {
    background-color: #FFFFAA;
    grid-column: 3 / 4;
    grid-row: 4 / 4;
}

.item5 {
    background-color: #FFAAAA;
    grid-column: 2 / 3;
    grid-row: 4 / 4;
}

.item6 {
    background-color: #AAFFAA;
    grid-column: 1 / 2;
    grid-row: 4 / 4;
}

.item7 {
    background-color: #AAAAFF;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.item8 {
    background-color: #FFFFAA;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.item9 {
    background-color: #FFAAAA;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.item10 {
    background-color: #AAFFAA;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.item11 {
    background-color: #AAAAFF;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.item12 {
    background-color: #FFFFAA;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}