body {
    background-color: beige;
    color: #000000;
    font-family: Arial;
    background-image: url("../../../../~rinde/media/pics/tlu_h200.png");
    background-repeat: no-repeat;
    background-position: 1300px 300px;
    background-attachment: fixed;
} 

h1, h2, h3 {
    color: rgb(65, 65, 65);
}

section {
    background-color: rgba(255, 255, 255, 0.4);
    background-image: url("../../../../~rinde/media/pics/top_left_01_transparent.png"), url("../../../../~rinde/media/pics/top_right_01_transparent.png"), url("../../../../~rinde/media/pics/bottom_left_01_transparent.png"), url("../../../../~rinde/media/pics/bottom_right_01_transparent.png");
    background-position: top left, top right, bottom left, bottom right;
    background-repeat: no-repeat;
    background-size: 50px;
}

nav {
    background-color: rgb(129, 122, 99);
}