body {
    background-color: rgb(15, 15, 15);
    color: rgb(211, 211, 211);
    font-family: Arial;
    background-image: url("../../../../~rinde/media/pics/tlu_h200.png");
    background-repeat: no-repeat;
    background-position: 1300px 300px;
    background-attachment: fixed;
} 

h1, h2, h3 {
    color:rgb(220, 0, 0);
}

section {
    background-color: rgba(255, 255, 255, 0.1);
    background-image: url("../../img/section_top_left.png"), url("../../img/section_top_right.png"), url("../../img/section_bottom_left.png"), url("../../img/section_bottom_right.png");
    background-position: top left, top right, bottom left, bottom right;
    background-repeat: no-repeat;
    background-size: 50px;
}

nav {
    background-color: rgb(100, 100, 100);
}